.navbar {
  position: fixed;
  top: 0;
  left: 70px;
  height: 60px;
  width: calc(100% - 70px);
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
  z-index: 5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 18px;
}

.user {
  margin-left: auto;
  font-size: 18px;
}