.navbar {
  position: fixed !important;
  top: 0 !important;
  left: 70px !important;
  height: 60px !important;
  width: calc(100% - 70px) !important;
  background: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 16px !important;
  gap: 16px !important;
  z-index: 5 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.logo {
  height: 18px !important;
}

.user {
  margin-left: auto !important;
  font-size: 18px !important;
}