@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');


/* === COLUMNA IZQUIERDA === */

.left-column {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 70px !important;
  height: 100vh !important;
  background: var(--bg-main) !important;
  color: var(--txt-light);
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  z-index: 10 !important;
}

.menu-btn {
  background: var(--accent);
  border: none;
  color: white;
  font-size: var(--icon-size);
  cursor: pointer;
  height: 60px;
  width: 100%;
}

.icon-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: solid 1px #fff;  */
}

.icon-list a {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--icon-size);
  color: var(--txt-light);
  text-decoration: none;
  text-align: center;
  
}

.icon-list a:hover {
  color: white;
}

/* === SIDEBAR SUPERPUESTO (HEREDA ESTILO DE LA COLUMNA) === */

.overlay-sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: var(--bg-main);
  color: var(--txt-light);
  transition: left 0.25s ease;
  /* padding-top: var(--spacing);*/
  z-index: 999;
  display: flex;
  flex-direction: column;
  /* gap: var(--spacing); */
}

.overlay-sidebar.open {
  left: 0;
}

.close-btn {
  background: var(--accent);
  border: none;
  color: white;
  font-size: var(--icon-size);
  padding: 8px 10px;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-start; /* igual que el botón de abrir */
  height: 60px;
  padding-left: var(--spacing);
  width: 60px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  /* gap: var(--spacing); */
}

.sidebar-list a {
  text-decoration: none;
  font-size: var(--icon-size);
  color: var(--txt-light);
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px;
  width: 100%;
  padding-left: var(--spacing);
}

.sidebar-list a:hover {
  background: var(--bg-hover);
  /* padding: 8px;
  border-radius: 6px; */
}

.main-content {
  margin-left: 70px;   
  margin-top: 60px;  
  padding: 20px;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {

  
  .left-column {
    display: none;
  }

  
  .main-content {
    margin-left: 0;
    padding: 15px;
  }

 
  .overlay-sidebar {
    left: -260px;   
  }

  .overlay-sidebar.open {
    left: 0;        
  }
}
