* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f3f4f6;
}

/* === BASE ESTÉTICA PARA AMBOS LADOS === */

:root {
  --bg-main: #000f37;
  --bg-hover: #1f2937;
  --txt-light: #e5e7eb;
  --accent: #000f37;
  /* --accent: #2563eb; */

  --spacing: 24px;           
  --icon-size: 24px;
  --font-size: 18px;
}


.content {
  margin-left: 70px !important;
  margin-top: 60px !important;
  padding: 20px !important;
  width: auto !important;
}

/* When auth pages (login/register) hide navbar and sidebar, remove reserved margins */
.content.no-layout {
  margin-left: 0 !important;
  margin-top: 0 !important;
  padding-top: 20px !important;
}
