.my-carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.carousel {
  max-width: 1100px;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-img {
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}




.carousel-indicators {
  bottom: 15px;
}

.carousel-indicators [data-bs-slide-to] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3b3b3b;
}




.carousel-indicators .active {
  background-color: #f44336;
}





.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
