* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f3f4f6;
}

/* === BASE ESTÉTICA PARA AMBOS LADOS === */

:root {
  --bg-main: #319083;
  --bg-hover: #164f48;
  --txt-light: #e5e7eb;
  --accent: #319083;
  /* --accent: #2563eb; */

  --spacing: 24px;           
  --icon-size: 24px;
  --font-size: 18px;
}



.content {
  margin-left: 70px !important;
  margin-top: 60px !important;
  padding: 20px !important;
  width: auto !important;
}
